# I. Project Team Members

| Prepared by | Email | Prepared for |
| :-: | :-: | :-: |
| **Hardefa Rogonondo** | hardefarogonondo@gmail.com | **IMDb Sentiment Analysis Engine** |

# II. Notebook Target Definition

This notebook is dedicated to the initial phase of the IMDb Sentiment Analysis Engine Project. It serves as the foundational step where we import, inspect, and prepare the IMDb movie reviews dataset for the upcoming stages of deep learning model development.

# III. Notebook Setup

## III.A. Import Libraries

In [1]:
import pandas as pd
import pickle

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## III.B. Import Data

In [2]:
df = pd.read_csv('../../data/raw/IMDB Dataset.csv')
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

# IV. Data Preparation

## IV.A. Data Shape Inspection

In [3]:
df.shape

(50000, 2)

## IV.B. Data Information Inspection

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

## IV.C. Data Definition

| Variables | Columns Definition |
| :-: | :-: |
| review | Movies reviews |
| sentiment | Sentiments labels |

## IV.D. Data Segregation

In [5]:
X = df.drop("sentiment", axis=1)
y = df["sentiment"]
X.shape, y.shape

((50000, 1), (50000,))

In [6]:
X.head()

                                              review
0  One of the other reviewers has mentioned that ...
1  A wonderful little production. <br /><br />The...
2  I thought this was a wonderful way to spend ti...
3  Basically there's a family where a little boy ...
4  Petter Mattei's "Love in the Time of Money" is...

In [7]:
y.head()

0    positive
1    positive
2    positive
3    negative
4    positive
Name: sentiment, dtype: object

## IV.E. Export Data

In [8]:
X.to_pickle('../../data/processed/X.pkl')
y.to_pickle('../../data/processed/y.pkl')